/*
 * App style
 */
 @font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Light.ttf");
    font-weight: 300;
  }
 @font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Bold.ttf");
    font-weight: 700;
  }

  body {
      font-family: Lato, Tahoma, sans-serif;
      font-weight: 300;
      font-size: 17px;
  }

.brand-logo {
    width: 200px;
    height: auto;
}

.nav-link {
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    color: grey;
    font-family: Lato, Tahoma, sans-serif;
}

.nav-link:hover {
  background-color: transparent;
}

a {
  color: #45B8AC !important;
}

a:hover {
    color: #E684C3 !important;
}

.nav-wrapper {
  background-color: #FFF;
}

.levelup {
  font-size: 28px;
  font-weight: 700;
}

p {
  letter-spacing: 1px;
  line-height: 30px;
}

.white-text {
  letter-spacing: 1px;
  line-height: 30px;
}

.small {
  font-size: 12px;
}

#mainContainer .modal {
  display: block;
  z-index: 10000;
}

#mainContainer .overlay {
  content: '';
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000000AE;
  z-index: 1;
}

.teal {
  color: #45B8AC;
}

.title-uppercase-grey {
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 5px;
  color: #E8E8E8;
  margin: 0;
  padding: 50px 0 0 0;
  font-weight: 700;
}

.subtitle-turquoise {
  font-size: 20px;
  color: #45B8AC;
  padding: -15px 0 0 0;
  margin: 0 0 50px 0;
  letter-spacing: 4px;
}

.green-block {
  border-top: solid 1px #45B8AC;
  padding: 10px;
}

.pink-block {
  border-top: solid 1px #E684C3;
  padding: 10px;
}

.yellow-block {
  border-top: solid 1px #F7DC69;
  padding: 10px;
}

.white-text {
  color: white;
  letter-spacing: 3px;
}

.copyright {
  padding: 20px 0;
  background-color: #45B8AC;
}

footer {
  margin-bottom: 50px;
}