.fluid {
    background-color: #45B8AC;
    margin: 5%;
}

.big-title {
    font-size: 32px;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 2%;
    font-weight: 300;
    text-transform: uppercase;
}

.size-img {
    max-height: 200px;
    width: auto;
}