#cta {
    background-image: url("/img/level-up.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 350px;
    margin-top: 50px;
    box-shadow: 4px 5px 5px silver;
  }
  
  .slogan {
    letter-spacing: 1px;
    font-size: 35px;
    color: grey;
    margin: 100px 0;
  }

  .block-slogan {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 320px;
    float: right;
    height: 350px;
  }

  .big {
    font-size: 48px;
    text-transform: uppercase;
    color: #45B8AC;
    letter-spacing: -1;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }