#cta {
    background-image: url("/img/level-up.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 350px;
    margin-top: 50px;
    box-shadow: 4px 5px 5px silver;
  }
  
  .slogan {
    font-size: 36px;
    color: #45B8AC;
    margin: 100px 0;
    letter-spacing: 7px;
  }

  .block-slogan {
    background-color: rgba(255, 255, 255, 0.6);
    float: right;
    height: 350px;
  }

  .big {
    font-size: 50px;
    color: black;
    font-weight: 700;
    line-height: 50px;
  }

  .big-turquoise {
    font-size: 36px;
    text-transform: uppercase;
    color: #45B8AC;
    font-weight: 700;
  }

  .ruban {
    margin: 25px;
  }